*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.DS_Store
*.synctex.gz
*.toc
*.nav
*.log
*.snm
*.vrb
*-concordance.tex
2013HPCwithR/modules/module2/source/slides/module2Beamer.tex
2013HPCwithR/modules/module2/source/slides/module2Beamer.tex
